.container {
  /* position: fixed; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container img {
  width: 10%;
}

.searchInput {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 
.searchIcon {
  border: 1px solid gray;
  width: 50px;
  height: 38px;
  border-radius: 5px;
} */

.navIcon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.navIcon :hover {
  color: blue;
}
