.proContainer {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.proContainer div {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.proContainer div:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.proContainer div img {
  width: 100%;
}

.proContainer div h2 {
  font-weight: bold;
}

.proContainer div h3 {
  font-weight: 500;
}

.filterDiv {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.removeWish {
  float: right;
  font-weight: bold;
}

.removeWish:hover {
  color: blue;
}
