.proContainer {
  margin-bottom: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.proContainer div {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.proContainer div:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.proContainer div img {
  width: 100%;
}

.proContainer div h2 {
  font-weight: bold;
}

.proContainer div h3 {
  font-weight: 500;
}

.filterDiv {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.removeWish {
  float: right;
  font-weight: bold;
}

.removeWish:hover {
  color: blue;
}

.title:hover {
  text-decoration: underline;
}

@media all and (min-width: 480px) and (max-width: 720px) {
  .proContainer  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 0px) and (max-width: 420px) {
    .proContainer  {
      width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* single product page */

.topDiv {
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #f8f2f2;
  margin-top: 10px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}
.mainContainer {
  display: flex;
  margin: 20px;
  justify-content: space-around;
}

.imageDiv img {
  height: 70vh;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 20px;
}

.detailsDiv {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  width: 400px;
  padding: 20px;
}

.title1 {
  font-size: 30px;
  font-weight: bold;
}

.price {
  font-size: 30px;
  font-weight: 500;
  color: rgb(211, 86, 86);
  font-style: italic;
}
.brand {
  font-weight: 400;
  color: rgb(90, 90, 231);
}

.stock {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
.color {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

.colorDiv {
  display: flex;
}

.size {
  border: 1px solid gray;
  padding: 5px;
  font-weight: 500;
}

.size:hover {
  background-color: lavender;
  cursor: pointer;
}
.size1 {
  border: 1px solid gray;
  padding: 5px;
  font-weight: 500;
  margin-left: 10px;
}

.size1:hover {
  background-color: lavender;
  cursor: pointer;
}
.size2 {
  border: 1px solid gray;
  padding: 5px;
  font-weight: 500;
  margin-left: 10px;
}

.size2:hover {
  background-color: lavender;
  cursor: pointer;
}

.paginationDiv {
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.paginationDiv button {
  margin-left: 5px;
  padding: 5px 10px 5px 10px;
  background-color: black;
  color: #ffff;
  border-radius: 5px;
  font-weight: bold;
}
